<head>
    {{> script-style}}
    <link rel="stylesheet" href="css/main.css">
    <script src="js/planer.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/toastr@2/build/toastr.min.js" defer></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastr@2/build/toastr.min.css">
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .content-wrapper {
            flex: 1;
        }
    </style>
</head>


<body>
    <div class="content-wrapper">
        {{> header}}
        <main class="main-planer">
            <h2>Планирование посещений достопримечательностей Салехарда</h2>
            <form id="schedule-form">
                <div class="button-container">
                    <button type="submit">Открыть расписание</button>
                </div>
            </form>
            <!-- Мод окно для выбора дост -->
            <div id="attraction-modal" class="modal">
                <div class="modal-content"> <span class="close">&times;</span>
                    <input type="text" id="search-attraction" placeholder="Поиск...">
                    <div id="attraction-list"></div>
                </div>
            </div>

            <div id="schedule-container"></div>

            <form>
                <button type="button" id="save-schedule" style="display:none;">Сохранить расписание</button>
            </form>
            <form onclick=location.reload()>
                <button type="button" id="delete-schedule" style="display:none; ">Удалить расписание</button>
            </form>

            {{#if attractions.length}}
            <div class="attraction-container">
                {{#each attractions}}
                <div class="attraction">
                    <div class="attraction-image">
                        <img src="{{this.image}}" alt="{{this.name}}">
                    </div>
                    <div class="attraction-details">
                        <h3 class="attraction-name">{{this.name}}</h3>
                        <p class="attraction-info">Местоположение: {{this.location}}</p>
                        <p class="attraction-info">Год основания: {{this.foundationYear}}</p>
                        <p class="attraction-info">{{this.description}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
            {{else}}
            <p>Нет доступных достопримечательностей</p>
            {{/if}}
        </main>
        <div class="spacer2"></div>
    </div>
    {{> time }}
    {{> footer }}
    <button id="back-to-top" title="Вернуться наверх">&#9757;</button>
</body>

</html>
